In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

# Set the aesthetic style of the plots
sns.set_style('whitegrid')

In [2]:
# Database connection details
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'
USER = 'angelakim'
PASSWORD = 'angelakim123'
PORT = 5432
DATABASE = 'house_price_prediction'

# Create database connection
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")

# Load the combined data from PostgreSQL
query = "SELECT * FROM combined_real_estate"
combined_data = pd.read_sql(query, engine)

# Display the first few rows of the combined data
combined_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,HomeValue,ListPrice,SalePrice
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01-31,214724.296983,0.0,0.0
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01-31,137728.299476,0.0,0.0
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,104976.099896,0.0,0.0
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,148116.649679,0.0,0.0
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,103962.845670,0.0,0.0