## Data Loading and Initial Verification

In [20]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection details
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'
USER = 'angelakim'
PASSWORD = 'angelakim123'
PORT = 5432
DATABASE = 'house_price_prediction'

# Create database connection
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")

# Load the combined data from PostgreSQL
query = "SELECT * FROM combined_real_estate"
combined_data = pd.read_sql(query, engine)

# Display the first few rows of the combined data
combined_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,HomeValue,ListPrice,SalePrice
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2000-01-31,214724.296983,0.0,0.0
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2000-01-31,137728.299476,0.0,0.0
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,104976.099896,0.0,0.0
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,148116.649679,0.0,0.0
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,103962.845670,0.0,0.0

## Loading Original DataFrames for Verification

In [22]:
# Load the datasets
home_values = pd.read_csv('../data/zillow_home_values.csv')
forsale = pd.read_csv('../data/zillow_forsale.csv')
sales = pd.read_csv('../data/zillow_sales.csv')

# Display the first few rows of each DataFrame to verify
home_values.head(), forsale.head(), sales.head()

(   RegionID  SizeRank  RegionName RegionType StateName State      City  \
 0     91982         1       77494        zip        TX    TX      Katy
 1     61148         2        8701        zip        NJ    NJ  Lakewood
 2     91940         3       77449        zip        TX    TX      Katy
 3     62080         4       11368        zip        NY    NY  New York
 4     91733         5       77084        zip        TX    TX   Houston

                                    Metro        CountyName     2000-01-31  \
 0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  214724.296983
 1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  137728.299476
 2   Houston-The Woodlands-Sugar Land, TX     Harris County  104976.099896
 3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  148116.649679
 4   Houston-The Woodlands-Sugar Land, TX     Harris County  103962.845670

    ...     2023-09-30     2023-10-31     2023-11-30     2023-12-31  \
 0  ...  495508.468732  496775.273604  497480.808242  498108.355423
 1  ...  566107.250697  573469.272028  580290.890399  585073.452329
 2  ...  282592.165439  282581.794849  282343.242309  282047.654956
 3  ...  460261.789526  458234.332255  454878.865185  450590.949525
 4  ...  277359.965391  277350.131337  276921.643696  276491.562564

       2024-01-31     2024-02-29     2024-03-31     2024-04-30     2024-05-31  \
 0  499513.840126  501722.478754  504594.794999  507170.130369  508512.211208
 1  586662.044177  589227.402896  594340.234957  602667.273772  610030.631370
 2  282407.430360  283117.403667  284228.579526  285200.832251  285741.575496
 3  447761.148606  446156.518854  449217.967295  453730.457014  458355.229588
 4  276538.335078  277072.092199  278088.397022  279095.026992  279604.806899

       2024-06-30
 0  508825.477602
 1  615467.664218
 2  285701.327874
 3  459058.239341
 4  279435.505967

 [5 rows x 303 columns],
    RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
 0    102001         0    United States    country       NaN    263267.0
 1    394913         1     New York, NY        msa        NY    503000.0
 2    753899         2  Los Angeles, CA        msa        CA    721333.0
 3    394463         3      Chicago, IL        msa        IL    284600.0
 4    394514         4       Dallas, TX        msa        TX    322997.0

    2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2023-09-30  \
 0    271267.0    276633.0    280000.0    280300.0  ...    396333.0
 1    513000.0    521300.0    526300.0    528300.0  ...    679333.0
 2    735000.0    743333.0    750000.0    749667.0  ...    999633.0
 3    294600.0    300600.0    302267.0    301967.0  ...    339633.0
 4    328497.0    331797.0    332800.0    329502.0  ...    435000.0

    2023-10-31  2023-11-30  2023-12-31  2024-01-31  2024-02-29  2024-03-31  \
 0    393300.0    389967.0    384633.0    381000.0    381000.0    386000.0
 1    684667.0    693000.0    693300.0    689967.0    691300.0    694333.0
 2    999567.0    999233.0    995567.0    991667.0    992000.0    995633.0
 3    336300.0    331333.0    324967.0    321633.0    323300.0    329967.0
 4    430000.0    426356.0    422356.0    417356.0    414333.0    416633.0

    2024-04-30  2024-05-31  2024-06-30
 0    392967.0    400600.0    405900.0
 1    699333.0    706333.0    713000.0
 2   1015967.0   1045967.0   1079000.0
 3    339967.0    349933.0    356600.0
 4    424633.0    432933.0    437967.0

 [5 rows x 81 columns],
    RegionID  SizeRank       RegionName RegionType StateName  2018-08-31  \
 0    102001         0    United States    country       NaN    226089.0
 1    394913         1     New York, NY        msa        NY    386354.0
 2    753899         2  Los Angeles, CA        msa        CA    631958.0
 3    394463         3      Chicago, IL        msa        IL    218155.0
 4    394514         4       Dallas, TX        msa        TX    255950.0

    2018-09-30  2018-10-31  2018-11-30  2018-12-31  ...  2023-08-31  \
 0    224991.0    225819.0    226945.0    228071.0  ...    338344.0
 1    390096.0    389075.0    391126.0    386310.0  ...    560782.0
 2    626620.0    625351.0    625072.0    622403.0  ...    871941.0
 3    216351.0    216575.0    219633.0    221367.0  ...    295019.0
 4    251726.0    249288.0    249766.0    250315.0  ...    385820.0

    2023-09-30  2023-10-31  2023-11-30  2023-12-31  2024-01-31  2024-02-29  \
 0    338062.0    336175.0    333246.0    331731.0    333059.0    337752.0
 1    564896.0    565067.0    561547.0    563734.0    567866.0    570510.0
 2    877460.0    885099.0    893296.0    895844.0    893843.0    900157.0
 3    296485.0    295578.0    294965.0    293784.0    295468.0    297541.0
 4    383749.0    380789.0    380917.0    379039.0    380715.0    382257.0

    2024-03-31  2024-04-30  2024-05-31
 0    343007.0    346319.0    349548.0
 1    574771.0    580443.0    591941.0
 2    909645.0    926157.0    935680.0
 3    300103.0    302247.0    305167.0
 4    386602.0    389453.0    391426.0

 [5 rows x 75 columns])

## Melting DataFrames to Long Format

In [23]:
# Melt the datasets to long format
home_values_melted = home_values.melt(id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'State', 'City', 'Metro', 'CountyName'], 
                                      var_name='Date', value_name='HomeValue')
forsale_melted = forsale.melt(id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'], 
                              var_name='Date', value_name='ListPrice')
sales_melted = sales.melt(id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName'], 
                          var_name='Date', value_name='SalePrice')

# Convert Date column to datetime format
home_values_melted['Date'] = pd.to_datetime(home_values_melted['Date'])
forsale_melted['Date'] = pd.to_datetime(forsale_melted['Date'])
sales_melted['Date'] = pd.to_datetime(sales_melted['Date'])

# Display the first few rows of the melted DataFrames to verify
home_values_melted.head(), forsale_melted.head(), sales_melted.head()

(   RegionID  SizeRank  RegionName RegionType StateName State      City  \
 0     91982         1       77494        zip        TX    TX      Katy
 1     61148         2        8701        zip        NJ    NJ  Lakewood
 2     91940         3       77449        zip        TX    TX      Katy
 3     62080         4       11368        zip        NY    NY  New York
 4     91733         5       77084        zip        TX    TX   Houston

                                    Metro        CountyName       Date  \
 0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County 2000-01-31
 1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County 2000-01-31
 2   Houston-The Woodlands-Sugar Land, TX     Harris County 2000-01-31
 3  New York-Newark-Jersey City, NY-NJ-PA     Queens County 2000-01-31
 4   Houston-The Woodlands-Sugar Land, TX     Harris County 2000-01-31

        HomeValue
 0  214724.296983
 1  137728.299476
 2  104976.099896
 3  148116.649679
 4  103962.845670  ,
    RegionID  SizeRank       RegionName RegionType StateName       Date  \
 0    102001         0    United States    country       NaN 2018-03-31
 1    394913         1     New York, NY        msa        NY 2018-03-31
 2    753899         2  Los Angeles, CA        msa        CA 2018-03-31
 3    394463         3      Chicago, IL        msa        IL 2018-03-31
 4    394514         4       Dallas, TX        msa        TX 2018-03-31

    ListPrice
 0   263267.0
 1   503000.0
 2   721333.0
 3   284600.0
 4   322997.0  ,
    RegionID  SizeRank       RegionName RegionType StateName       Date  \
 0    102001         0    United States    country       NaN 2018-08-31
 1    394913         1     New York, NY        msa        NY 2018-08-31
 2    753899         2  Los Angeles, CA        msa        CA 2018-08-31
 3    394463         3      Chicago, IL        msa        IL 2018-08-31
 4    394514         4       Dallas, TX        msa        TX 2018-08-31

    SalePrice
 0   226089.0
 1   386354.0
 2   631958.0
 3   218155.0
 4   255950.0  )